header{
    /*flex속성 -> 창의 크기를 줄이거나 늘려도 요소가 아래로 밀려 내려가지 않도록 함*/
    display: flex;
    /*flex사용 시 오른쪽 정렬, flex-middle은 가운데 정렬*/
    justify-content: flex-end;
    margin-bottom: 100px;
}

.main{
    margin-top: 10px;
    padding-right: 9px;
    display:flex;
    align-items: baseline;
}

.header-icons button{
    height: 28px;
    position: relative;
    padding: 0;
    border: none;
    background: none;
}

.header-icons .text-links button {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background: darkslategray;
    color: white;
}

.text-links button:hover {
    text-decoration: underline;
}

.header-icons button img {
    /*이미지와 텍스트의 높이가 맞지 않는 경우를 방지하기 위한 속성*/
    vertical-align:middle; 
    background-color: white;
    top: 5px;
}

.header-icons {
    margin: 10px;
    color: white;
}

article{
    text-align: center;
}

article > h1{
    color: blue;
    font-size: 80px;
    text-align: center;
}

.inputwithicon{
    display: flex;
    justify-content: center;

    border-radius: 30px;
    position: relative;

    margin-top: 50px;
}


.inputwithicon input[type=search] {
    border-radius: 35px;
    width: 550px;
    height: 45px;
    padding-left: 55px;
}

.fas {
    position: relative;
    top: 5px;
}

.first {
    font-size: 14px;
    color: #5f6367;
    position: relative;
    left: 50px;
    top: 10px;
}

.second{
    color: violet;
    right: 60px;
}

.inputwithicon button {
    position: relative;
    right: 40px;
    padding: 0;
    border: none;
    background: none;
}

.footercontainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footeritem button{
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: #f9f9fa;
    background-color: #f9f9fa;;
}